!!!
html
    head
        meta(charset="utf-8")
        title NTD Directives
        link(rel="stylesheet", href="styles/bootstrap.css")
        link(rel="stylesheet", href="styles/bootstrap-responsive.css")
        link(rel="stylesheet", href="styles/main.css")
        script(src="./javascripts/jquery.min.js")
        style
            body {
                font: 10px sans-serif;
            }

            .arc path {
                stroke: #fff;
             }
    body(ng-app="demoApp")
        div.well.container
            div.span8
            include ntd-confirm-button
            include ntd-pie

script(src="./javascripts/angular.js")
script(src="./javascripts/bootstrap-tooltip.js")
script(src="./javascripts/bootstrap-popover.js")
script(src="./javascripts/bootstrapx-clickover.js")
script(src="./javascripts/d3.js")
script(src="./javascripts/common.js")
script(src="./javascripts/directives/ntd-confirm-button.js")
script(src="./javascripts/directives/ntd-pie.js")
script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
script(src="./javascripts/app.js")

