!!!
html
    head
        meta(charset="utf-8")
        title NTD Directives
        link(rel="stylesheet", href="styles/bootstrap.css")
        link(rel="stylesheet", href="styles/bootstrap-responsive.css")
        link(rel="stylesheet", href="styles/main.css")
        script(src="../components/jquery/jquery.js")
        style
            body {
                font: 10px sans-serif;
            }

            .arc path {
                stroke: #fff;
             }
    body(ng-app="demoApp")
        div.well.container
            div.span8
            include ntd-confirm-button
            include ntd-pie

script(src="../components/angular/angular.js")
script(src="../components/bootstrap/js/bootstrap-tooltip.js")
script(src="../components/bootstrap/js/bootstrap-popover.js")
script(src="../components/bootstrapx-clickover/js/bootstrapx-clickover.js")
script(src="../components/d3/d3.js")
script(src="../src/common.js")
script(src="../src/directives/ntd-confirm-button.js")
script(src="../src/directives/ntd-pie.js")
script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
script(src="app.js")

